/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */


body {
    background: linear-gradient(to left, blue, red);
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.blinking
{
    animation: blink 0.5s step-end infinite;
}

@keyframes blink {
  50% { visibility: hidden; }
}

.h1
{
  color: yellow;
}

button
{
    padding: 2px;
    margin: 1px;
    font-size: 8px;
}

img {
    max-width: 100%;
    height: auto;
}
